<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Basket</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/mini_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/mini_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal_choice_p_a.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_lower_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/basket.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}">
    <script src="https://kit.fontawesome.com/5c0bae0cef.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <script>
        const cartItem = '{{order.get_cart_item}}'
        const totalPrice = '{{order.get_cart_total}}'
        let csrftoken = '{% csrf_token %}'
    </script>
</head>
<body>
<!--=======================================================-->
<!--MESSAGES-->
{% include 'components/messages.html' %}
<!--=======================================================-->

<!--=======================================================-->
<!--MODAL CHOICE PRODUCT AVAILABLE-->
{% include 'components/modal_choice_product_available.html' %}
<!--=======================================================-->

<div class="basket_block">
    {% include 'components/mini_header.html' %}
    <div class="basket-control">
        <div class="basket-cart">
            <div class="basket_header">
                <div class="header_count_items">
                    <h2>Корзина</h2>
                    <span class="total_cart_items">Товарів в корзині: <span class="total_items">{{ order.get_cart_item|default:"0" }}</span></span>
                </div>
                <div data-session_user_id="{% if order.session_id %}{{ order.session_id }}{% else %}{{ order.user.id }}{% endif %}"
                     data-order_id="{% if order %}{{ order.id }}{% else %}{{ None }}{% endif %}" class="close_div"
                     onclick="RemoveAllBasket()"><span class="material-symbols-outlined c_b_icon">close</span></div>
            </div>
            <div class="basket_product_cart">
                {% if items %}
                {% for item in items %}
                <div class="basket_product">
                    <img class="basket_product_img" src="{{ item.product.image.url }}">
                    <div class="control_midle_div">
                        <div class="product_info">
                            <h2>{{ item.product.name }}</h2>
                        </div>
                        <div class="counter">
                            <button class="counter_btn minus" data-product="{{ item.product.id }}"
                                    onclick="BasketRemoveProduct(this)"><span
                                    class="material-symbols-outlined">remove</span></button>

                            <input min="1" max="{{ item.product.available }}" oninput="InputPlusMinusProduct(this)"
                                   step="1"
                                   type="text" inputmode="numeric" value="{{ item.quantity }}"
                                   pattern="[0-9]" class="counter_input" id="{{ item.product.id }}">

                            <button data-product="{{ item.product.id }}" class="counter_btn plus"
                                    onclick="BasketAddProduct(this)"><span class="material-symbols-outlined">add</span>
                            </button>
                        </div>
                    </div>
                    {% if item.product.action %}
                    <div class="product_price">
                        <img data-product="{{ item.product.id }}"
                             class="close_basket_product" id="product{{ item.product.id }}"
                             onclick="RemoveProduct(this)" src="{% static 'images/cancel-svgrepo-com.svg' %}">
                        <div class="p_info">
                            <span class="product_p_span basket_old_price old_price{{ item.product.id }}">{{ item.get_total.old_price }} <span
                                    class="basket_old_price">₴</span></span>
                            <span class="product_p_span action">{{ item.product.discount }} <span
                                    class="interest">%</span></span>
                        </div>
                        <span class="product_p_span price all_price{{ item.product.id }}">{{ item.get_total.total|floatformat:2 }} <span>₴</span></span>
                    </div>
                    {% else %}
                    <div data-action="remove_product" data-product="{{ item.product.id }}"
                         class="product_price update-cart">
                        <img data-product="{{ item.product.id }}"
                             class="close_basket_product" id="product{{ item.product.id }}"
                             onclick="RemoveProduct(this)" src="{% static 'images/cancel-svgrepo-com.svg' %}">
                        <span class="product_p_span price all_price{{ item.product.id }}">{{ item.get_total.total|floatformat:2 }} <span>₴</span></span>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                {% else %}
                <div class="basket_product">
                    <div class="basket_empty">
                        <img src="{% static 'images/basket-icon-16.jpg' %}">
                        <h3>Корзина Пуста</h3>
                        <p>Скористайтеся Пошуком або Каталогом, щоб знайти те, що потрібно.</p>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="total">
                <div class="total_price_control">
                    <p>Всього </p>
                    <span class="total_price">{{ order.get_cart_total|default:"0"|floatformat:2 }} <span
                            class="currency">₴</span></span>
                </div>
                <div class="placing_an_order">
                    <a class="back_to_shop_btn" id="back_to_shop_btn" href="/">В Магазин</a>
                    <a class="placing_order" id="order_btn" data-order="{{ order }}"></a>
                </div>
            </div>
        </div>
    </div>

    {% include 'components/mini_footer.html' %}

    <!--=======================================================-->
    <!--MOBILE LOWER MENU-->
    {% include 'components/mobile_lower_menu.html' %}
    <!--=======================================================-->
</div>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/GetCSRFToken.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>
<script src="{% static 'js/remove_localStorage.js' %}"></script>
<!--<script src="{% static 'js/search.js' %}"></script>-->
<!--<script src="{% static 'js/RegLog.js' %}"></script>-->
<!--<script src="{% static 'js/profile.js' %}"></script>-->
<script src="{% static 'js/basket.js' %}"></script>
<!--<script src="{% static 'js/checkout.js' %}"></script>-->
<script src="{% static 'js/order_or_back_shop_bnt.js' %}"></script>
<script type="text/javascript" src="{% static 'js/mask_number.js' %}"></script>
<script type="text/javascript" src="{% static 'js/formatPhoneInput.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/slick/slick.min.js' %}"></script>
<!--<script src="../static/js/paginator.js"></script>-->
<!--<script src="../static/js/sub_cat_paginations.js"></script>-->
</body>
</html>