<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/mini_header.css' %}">
    <link rel="stylesheet" href="{% static 'css/mini_footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/customSelect-Search.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'js/slick/slick-theme.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <script src="https://kit.fontawesome.com/5c0bae0cef.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">

    <script type="text/javascript">
        let user = '{{request.user}}'
        let total_order_weight = '{{ total_order_weight }}';
        let order_price = '{{ order.get_cart_total|default:"0"|floatformat:2 }}'
        console.log(order_price, total_order_weight)
        let order = '{{ order }}'
        const homeUrl = "{% url 'home' %}";
        let csrftoken = '{% csrf_token %}'
    </script>

</head>
<body>
<input type="hidden" id="user_or_anonymousUser" value="{% if order.session_id %}{{ order.session_id }}{% else %}{{ order.user.id }}{% endif %}">

<!--=======================================================-->
<!--MESSAGES-->
{% include 'components/messages.html' %}
<!--=======================================================-->

{% include 'components/mini_header.html' %}

<div class="checkout_block">
    <div class="modal_checkout_control">
        <div class="checkout_cart_control">
            <div class="cont-title">
                <h2 class="title__order">Оформлення замовлення</h2>
            </div>

            <div class="progres_checkout_cont">
                <div class="progres_checkout_container">
                    <div class="line">
                        <img id="truck" class="truck_icon" src="{% static 'images/blue_del_track.png'%}">
                    </div>
                    <div class="step_control">
                        <div class="step step_one">
                            <h2>Контакти</h2>
                        </div>
                        <div class="step step_two">
                            <h2>Доставка</h2>
                        </div>
                        <div class="step step_three">
                            <h2>Оплата</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="checkout_cont">

                <div class="checkout cont_info">
                    {% if user.is_authenticated %}
                    <form class="checkout_form contact_info">
                        <input class="checkout_input" type="text" placeholder="Ім'я" name="first_name"
                               value="{{ user.first_name }}">
                        <input class="checkout_input" type="text" placeholder="Прізвище" name="last_name"
                               value="{{ user.last_name }}">
                        <input type="email" placeholder="Електронна Пошта" name="email"
                               class="checkout_input js-input-email" value="{{ user.email }}">
                        <input type="tel" placeholder="+380(99) 999-99-99" name="phone_number"
                               class="checkout_input js-input-phone art-stranger" value="{{ user.phone_number }}">
                        <div class="btn_cont">
                            <a class="contact_info_btn truck_step_two" disabled="false">Продовжити</a>
                        </div>
                    </form>
                    {% else %}
                    <form class="checkout_form contact_info">
                        <input class="checkout_input" type="text" placeholder="Ім'я" name="first_name" value="">
                        <input class="checkout_input" type="text" placeholder="Прізвище" name="last_name" value="">
                        <input type="email" placeholder="Електронна Пошта" name="email"
                               class="checkout_input js-input-email" value="">
                        <input type="tel" placeholder="+380(99) 999-99-99" name="phone_number"
                               class="checkout_input js-input-phone art-stranger" value="">
                        <div class="btn_cont">
                            <a class="contact_info_btn truck_step_two" disabled="false">Продовжити</a>
                        </div>
                    </form>
                    {% endif %}
                </div>

                <div class="checkout delivery">
                    <form class="checkout_form delivery_info">
                        <div class="select_control">
                            <div class="your_city_cont">
                                <span class="circle"></span>
                                <h3>Місто</h3>
                            </div>
                            <div class="wrapper">
                                <div class="inp_cont search_cities">
                                    <input spellcheck="false" name="search_city" oninput="getCities(this)"
                                           class="inp_selector_search_city" type="text"
                                           placeholder="Введіть місто" data-city="">
                                    <div class="inp_icon_down">
                                        <img class="loader" src="{% static 'animation/dots-loading-animation.gif' %}">
                                    </div>
                                </div>
                                <div class="content">
                                    <ul class="options"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="input_control_wrapper">
                            <div class="input_control Courier">
                                <div class="checkbox_cont">
                                    <label class="custom-checkbox">
                                        <input class="checkout_input_checkbox" data-delivery="Courier"
                                               onclick="ChoiceCheckBox(this)"
                                               onchange="changeCheckBox(this)" type="checkbox" name="Courier">
                                        <span class="checkmark"></span>
                                    </label>
                                    <img class="delivery_img car"
                                         src="{% static 'images/Delivery_Truck_Flat_Icon_Vector.svg.png'%}" alt="">
                                    <h3>Курєром</h3>
                                </div>
                                <div class="delivery_price">
                                    <span class="del_price">Безплатно</span>
                                </div>
                            </div>
                            <div class="delivery_inf Courier">
                                <div class="select_control">
                                    <div class="your_street_cont">
                                        <h3>Вулиця*</h3>
                                    </div>
                                    <div class="wrapper_street">
                                        <div class="inp_cont search_street">
                                            <input spellcheck="false" name="search_street" oninput="getStreets(this)"
                                                   class="inp_selector_search_street" type="text"
                                                   placeholder="Введіть вулицю" data-street="">
                                            <div class="inp_icon_down">
                                                <img class="loader_street" loop autoplay muted
                                                     src="{% static 'animation/dots-loading-animation.gif' %}">
                                            </div>
                                        </div>
                                        <div class="content_street">
                                            <ul class="options_street"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="choice_input_cont">
                                    <div class="cont_choice_home">
                                        <label for="home">Дім*</label>
                                        <input class="choice_input home" id="home" value="" name="home" type="text"
                                               required="yes">
                                    </div>
                                    <div class="cont_choice_apartment">
                                        <label for="apartment">Квартира</label>
                                        <input class="choice_input apartment" id="apartment" value="" name="apartment"
                                               type="number">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input_control_wrapper">
                            <div class="input_control">
                                <div class="checkbox_cont">
                                    <label class="custom-checkbox">
                                        <input class="checkout_input_checkbox" data-delivery="NP-Branch"
                                               onclick="ChoiceCheckBox(this)"
                                               onchange="changeCheckBox(this)" type="checkbox"
                                               name="NP-Branch">
                                        <span class="checkmark"></span>
                                    </label>
                                    <img class="delivery_img" src="{% static 'images/nova_poshta_2014_logo.png'%}"
                                         alt="">
                                    <h3>Нова Пошта(Відділення)</h3>
                                </div>
                                <div class="delivery_price">
                                    <span class="del_price">Ще не розраховано</span>
                                </div>
                            </div>
                            <div class="delivery_inf_dep NP-Branch">
                                <div class="select_control">
                                    <div class="your_department_cont">
                                        <h3>Відділення*</h3>
                                    </div>
                                    <div class="wrapper_department">
                                        <div class="inp_cont search_department">
                                            <input spellcheck="false" name="search_department"
                                                   class="inp_selector_search_department" type="text"
                                                   placeholder="Виберіть Відділення" data-street="">
                                            <div class="inp_icon_down">
                                                <img class="arrow_dep"
                                                     src="{% static 'images/arrow-down-sign-to-navigate.png' %}">
                                            </div>
                                        </div>
                                        <div class="content_department">
                                            <ul class="options_department"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="input_control_wrapper">
                            <div class="input_control">
                                <div class="checkbox_cont">
                                    <label class="custom-checkbox">
                                        <input class="checkout_input_checkbox" data-delivery="NP-Postal-Machine"
                                               onclick="ChoiceCheckBox(this)"
                                               onchange="changeCheckBox(this)" type="checkbox" name="NP-Postal-Machine">
                                        <span class="checkmark"></span>
                                    </label>
                                    <img class="delivery_img" src="{% static 'images/nova_poshta_2014_logo.png'%}"
                                         alt="">
                                    <h3>Нова Пошта(Поштомат)</h3>
                                </div>
                                <div class="delivery_price">
                                    <span class="del_price">Ще не розраховано</span>
                                </div>
                            </div>
                            <div class="delivery_inf_pm NP-Postal-Machine">
                                <div class="select_control">
                                    <div class="your_pm_cont">
                                        <h3>Поштомат*</h3>
                                    </div>
                                    <div class="wrapper_pm">
                                        <div class="inp_cont search_pm">
                                            <input spellcheck="false" name="search_pm" oninput="getPostalMachine(this)"
                                                   class="inp_selector_search_pm" type="text"
                                                   placeholder="Виберіть Поштомат" data-street="">
                                            <div class="inp_icon_down">
                                                <img class="arrow_pm"
                                                     src="{% static 'images/arrow-down-sign-to-navigate.png' %}">
                                                <!--                                    <svg class="svg_close" xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 32 32"><path fill="#ff5900" d="M16 2C8.2 2 2 8.2 2 16s6.2 14 14 14s14-6.2 14-14S23.8 2 16 2zm0 26C9.4 28 4 22.6 4 16S9.4 4 16 4s12 5.4 12 12s-5.4 12-12 12z"/><path fill="#ff5900" d="M21.4 23L16 17.6L10.6 23L9 21.4l5.4-5.4L9 10.6L10.6 9l5.4 5.4L21.4 9l1.6 1.6l-5.4 5.4l5.4 5.4z"/></svg>-->
                                            </div>
                                        </div>
                                        <div class="content_pm">
                                            <ul class="options_pm"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="btn_cont">
                            <a class="contact_info_btn_back truck_step_first" onclick="StepBackFirst(this)">
                                Назад
                            </a>
                            <a class="contact_info_btn truck_step_three">Продовжити</a>
                        </div>
                    </form>
                </div>

                <div class="checkout payment">
                    <form class="checkout_form payment_info">

                        <div class="input_control_payment">
                            <div class="checkbox_cont_payment">
                                <label class="custom-checkbox_payment">
                                    <input class="checkout_input_checkbox_payment" data-payment="Card_on_website"
                                           type="checkbox"
                                           name="Card_on_website">
                                    <span class="checkmark_payment"></span>
                                </label>
                                <i class="payment_img fa-regular fa-credit-card"></i>
                                <h3>Картою на сайті</h3>
                            </div>
                        </div>

                        <div class="input_control_payment">
                            <div class="checkbox_cont_payment">
                                <label class="custom-checkbox_payment">
                                    <input class="checkout_input_checkbox_payment" data-payment="Upon_Receipt"
                                           type="checkbox"
                                           name="Upon_Receipt">
                                    <span class="checkmark_payment"></span>
                                </label>
                                <i class="payment_img fa-solid fa-hand-holding-dollar"></i>
                                <h3>При получені</h3>
                            </div>
                        </div>

                        <div class="payment_button_container">
                            <a onclick="StepBackTwo()" class="contact_delivery_btn_back truck_step_first">
                                Назад
                            </a>
                        </div>
                    </form>
                </div>

                <div class="checkout_order">
                    <div class="checkout_prod_order_control">
                        {% if items %}
                        {% for item in items %}
                        <div class="product_control">
                            <div class="prod_img_cont"><img class="order_prod_img" src="{{ item.product.image.url }}">
                            </div>
                            <div class="plug"></div>
                            <div class="prod_order_info_cont">
                                <div class="prod_inf">
                                    <h2>{{ item.product.name}}</h2>
                                </div>
                                {% if item.product.action %}
                                <div class="product_price">
                                    <h4>{{ item.quantity }} <span class="count_span">шт.</span></h4>
                                    <div class="control_prod_price">
                                        <div class="p_info">
                                    <span class="product_p_span basket_old_price old_price{{ item.product.id }}">{{ item.get_total.old_price }} <span
                                            class="basket_old_price">₴</span></span>
                                            <span class="product_p_span action">{{ item.product.discount }} <span
                                                    class="interest">%</span></span>
                                        </div>
                                        <span class="product_p_span price all_price{{ item.product.id }}">{{ item.get_total.total|floatformat:2 }} <span>₴</span></span>
                                    </div>
                                </div>
                                {% else %}
                                <div data-action="remove_product" data-product="{{ item.product.id }}"
                                     class="product_price update-cart">
                                    <h4>{{ item.quantity }} <span class="count_span">шт.</span></h4>
                                    <span class="product_p_span price all_price{{ item.product.id }}">{{ item.get_total.total|floatformat:2 }} <span>₴</span></span>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="back_basket_btn" data-order="{{ order }}" onclick="checkReferrer(this)">
                        <i class="far fa-shopping-basket back_basket"></i>
                        <a>Корзина</a>
                    </div>
                    <div class="order_delivery_inf">
                        <div class="basket_price">
                            <p>Сума корзини</p>
                            <h3>{{ order.get_cart_total|default:"0"|floatformat:2 }} <span>₴</span></h3>
                        </div>
                        <div class="del_inf">
                            <p>Доставка</p>
                            <h3 class="delivery_cost">Ще не розраховано</h3>
                        </div>
                    </div>
                    <div class="order__full_amount_and_btn_cont">
                        <div class="cont_full_amount">
                            <p>До сплати </p>
                            <span class="full_amount">{{ order.get_cart_total|default:"0"|floatformat:2 }} <span>₴</span></span>
                        </div>
                        <div class="cont_order_btn">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'components/mini_footer.html' %}

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/GetCSRFToken.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>
<script src="{% static 'js/redirect_home_page.js' %}"></script>
<script src="{% static 'js/check_referer.js' %}"></script>
<!--<script src="{% static 'js/search.js' %}"></script>-->
<!--<script src="{% static 'js/profile.js' %}"></script>-->
<script src="{% static 'js/checkout.js' %}"></script>
<!--<script src="{% static 'js/slick-slider.js' %}"></script>-->
<!--<script src="{% static 'js/slick/slick.min.js' %}"></script>-->
<!--<script src="{% static 'js/RegLog.js' %}"></script>-->
<!--<script src="../static/js/paginator.js"></script>-->
<!--<script src="../static/js/sub_cat_paginations.js"></script>-->
</body>
</html>