<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/game_block.css">
    <link rel="stylesheet" type="text/css" href="../static/js/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/js/slick/slick-theme.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="lower_head">
        <a href="{% url 'home' %}" class="logo_cont">
            <div class="logo">
                <img class="img" src="../static/images/Eva_logo.svg-removebg-preview.png" alt="">
            </div>
        </a>
        <div class="navigations">
            <a href="" class="nav_link">Головна</a>
            <a href="" class="nav_link">Про Нас</a>
            <a href="" class="nav_link">Доставка</a>
            <a href="" class="nav_link">Акції</a>
        </div>
        <div class="menu_cont">
            <a href="/" class="menu"><span class="material-symbols-outlined">person</span></a>
            <a class="menu search" id="search"><span id="icon_search" class="material-symbols-outlined">manage_search</span></a>
            <a href="/" class="menu basket">
                <span class="material-symbols-outlined">local_mall</span>
                <span class="goods_basket_control">
                    <span id="number_goods">0</span>
                </span>
            </a>
            <a class="menu exit"><span class="material-symbols-outlined">login</span>Вхід</a>
        </div>
    </div>
    <div class="cont_search" id="div_search">
        <a class="category_btn" id="cat_btn" onclick="OpenCat()">
            Категорії Товарів<span class="material-symbols-outlined arrow_icon" id="arrow_cat">expand_more</span>
        </a>
        <div class="cat_menu_wrap">
            <div class="cat_menu">
                <div class="cat_cont">
                    {% for cat in category %}
                    <div class="cat_content" data-slug="{{ cat.id }}">
                        <div class="circle"><img class="cat_img" src="{{ cat.image.url }}"></div>
                        <h2 class="cat_text" data-cat_name="{{ cat.name }}">{{ cat.name }} <span class="cat_arrow">></span></h2>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="sub_cut_control">
                    <div class="name_cut"></div>
                    {% for sub_cut in sub_category %}
                    <div class="sub_cut_content" data-id="{{ sub_cut.category.id }}">
                        <a class="sub_cut_text" href="{% url 'sub_cut_products' sub_cut.slug %}" >{{ sub_cut.name }} <span class="line_sub"></span></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <form class="search_form" action="{% url 'search' %}" method="get">
            <input class="s_input" id="input_search" type="search" name="q" placeholder="Пошук товарів">
            <button id="btn" class="btn" type="submit">Пошук</button>
        </form>
    </div>
</div>


<div class="game_block">
    <div class="control_cart">
        <div class="game_content">
            <div class="text_cont">
                <h1>Грай та заробляй бонуси</h1>
                <p>На данний момент гра в розробці</p>
                <a href="" class="game_btn">Грати</a>
            </div>
            <img class="game_img" src="../static/images/game_animations/giphy.gif" alt="">
        </div>
    </div>
</div>

<div class="block_actions_products">
    <div class="slider actions_prod_slider">
        {% for action_product in action_products %}
        <div class="actions_cart">
            <div class="action_interest">{{ action_product.discount }}<span class="interest">%</span></div>
            <img class="action_product_img" src="{{ action_product.image.url }}">
            <h2>{{ action_product.brand }}</h2>
            <div class="name_prod"><p>{{ action_product.name }}</p></div>
            <h4>{{ action_product.discount_price }}<span class="action_symbol_price normal">грн</span></h4>
            <div class="old_price"><h3>{{ action_product.price }}</h3><span class="old_symbol_price">грн</span></div>
            <a class="action_prod_btn">До Кошика</a>
        </div>
        {% endfor %}
    </div>
</div>

<div class="product_list">
    <div class="cart_control">
        {% for product in page %}
        <div class="cart" onmouseenter="showProductInfo(this)" onmouseleave="hideProductInfo(this)">
            <img class="product_img" src="{{ product.image.url }}">
            <h2>{{ product.brand }}</h2>
            <div class="name_prod"><p>{{ product.name }}</p></div>
            <h3>{{ product.price }}<span class="symbol_price">грн</span></h3>
            <a class="prod_btn">До Кошика</a>

            <div class="product_info">
                <div class="info_cont">
                    <div class="cont"><p class="cont_p">Країна виробник:</p> <span class="data_info d_text">{{ product.make_county }}</span>
                    </div>
                    <div class="cont"><p class="cont_p">Розмір:</p><span class="data_info">{{ product.size }}</span>
                    </div>
                    <div class="cont"><p class="cont_p">Вікова категорія:</p><span class="data_info">{{ product.age_category }}</span>
                    </div>
                    <div class="cont"><p class="cont_p">Об'єм/шт:</p><span class="data_info">{{ product.pieces_volume }}</span></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="paginator_btn_cont">
        <div class="index_buttons " data-count_products="{{ count_products }}">
            {% for num_page in page.paginator.page_range %}
            {% if page.number == num_page %}
            <a class="page_btn active_default" href="{% url 'home' %}?page={{ num_page }}">{{ num_page }}</a>
            {% else %}
            <a class="page_btn" href="{% url 'home' %}?page={{ num_page }}">{{ num_page }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    </div>
</div>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/slick-slider.js"></script>
<script src="../static/js/slick/slick.min.js"></script>
<!--<script src="../static/js/paginator.js"></script>-->
<!--<script src="../static/js/sub_cat_paginations.js"></script>-->
</body>
</html>