<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ product.name }}</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_category.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_search.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile_lower_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="../static/js/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../static/js/slick/slick-theme.css">
    <script src="https://kit.fontawesome.com/5c0bae0cef.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <script type="text/javascript">
        let user = '{{request.user}}'
        let csrftoken = '{% csrf_token %}'
    </script>
</head>
<body>
<!--===========================================================-->
<!--HEADER-->
{% include 'components/header.html' %}
<!--===========================================================-->

<!--===========================================================-->
<!--CATEGORY-->
{% include 'components/mobile_category.html' %}
<!--===========================================================-->

<!--===========================================================-->
<!--BURGER MENU-->
{% include 'components/mobile_header.html' %}
<!--=======================================================-->

<!--=======================================================-->
<!--MESSAGES-->
{% include 'components/messages.html' %}
<!--=======================================================-->

<!--=======================================================-->
<!--MODAL REG-LOG-->
{% include 'components/reg_log_modal.html' %}
<!--=======================================================-->


{% if product %}
<div class="container">
    <div class="block_product_detail">
        <div class="product_detail_control">
            <div class="product_detail">
                <div class="product_detail__product_imgs_control">
                    <div class="img_cont"><img src="{{ product.image.url }}"></div>
                    <div class="img_slider imgs_cont">
                        {% if product_images %}
                        {% for product_image in product_images %}
                        <div class="product_imgs" data-img_url="{{ product_image.img.url }}" onclick="ChangePhoto(this)">
                            <img src="{{ product_image.img.url }}">
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="product_imgs">
                            <img src="{{ product.image.url }}">
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="product_detail__product_info_control">
                    <div class="product_name_cont">
                        <h2>{{ product.name }}</h2>
                    </div>
                    <div class="rating_of_reviews_control">
                        <div class="star_control">
                            <i class="fas fa-star main_star"></i>
                            <i class="fas fa-star main_star"></i>
                            <i class="fas fa-star main_star"></i>
                            <i class="fas fa-star main_star"></i>
                            <i class="fas fa-star main_star"></i>
                        </div>
                        <h2>0</h2>
                        <a href="#">(<span>{% if length_comments %}{{ length_comments }}{% else %}0{% endif %}</span>) відгук</a>
                    </div>
                    <div class="product_characteristics">
                        <h2>Характеристики</h2>
                        <div class="characteristic">
                            <span>Бренд:</span>
                            <h2>{{ product.brand }}</h2>
                        </div>
                        <div class="characteristic">
                            <span>Країна-виробник:</span>
                            <h2>{{ product.make_county }}</h2>
                        </div>
                        <div class="characteristic">
                            <span>Тип:</span>
                            <h2>{{ product.kind }}</h2>
                        </div>
                        <div class="characteristic">
                            <span>Стать:</span>
                            <h2>{{ product.sex }}</h2>
                        </div>
                        <div class="characteristic">
                            <span>Призначення:</span>
                            <h2>{{ product.appointment }}</h2>
                        </div>
                        <a href="#all_characteristic" class="all_characteristic_btn">Усі Характеристики</a>
                    </div>
                </div>
            </div>

            <div class="mob_product_detail__order_info">
                <div class="product_price">
                    {% if product.available > 0 %}
                    <span class="is_available_green">В наявності</span>
                    {% else %}
                    <span class="is_available_red">Немамє в наявності</span>
                    {% endif %}
                    {% if product.action %}
                    <div class="product_action_cont">
                        <span class="span_prod_old_price">{{ product.price }} ₴<span class="span_discount">{{ product.discount }} %</span></span>
                        <h2>{{ product.discount_price }} <span>₴</span></h2>
                    </div>
                    {% else %}
                    <h2>{{ product.price }} <span>₴</span></h2>
                    {% endif %}
                </div>
                <div class="product_order_btn_control">
                    <a data-product="{{ product.id }}" class="product_order_btn">До Кошика</a>
                </div>
            </div>

            <div class="block_all_characteristic">
                <div class="product_info_menu">
                    <a class="information_prod_menu">
                        <h2>Про товар</h2>
                    </a>
                    <a href="#all_characteristic" class="information_prod_menu">
                        <h2>Характеристики</h2>
                    </a>
                    <a href="#reviews" class="information_prod_menu">
                        <h2><span>({% if length_comments %}{{ length_comments }}{% else %}0{% endif %})</span> Відгуки</h2>
                    </a>
                </div>

                <div class="about_product" id="all_characteristic">
                    <h2>Про товар</h2>
                    <div class="description_product">
                        <p>{{ product.description }}</p>
                    </div>
                    {% if features %}
                    <div class="features_product">
                        <h2>Особливості</h2>
                        <ul class="features_list">
                            {% for feature in features %}
                            <li>{{ feature.features }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                    {% endif %}
                    {% if application_methods %}
                    <div class="application_method_product">
                        <h2>Спосіб застосування</h2>
                        {% for application_method in application_methods %}
                        <ul class="application_method_list">
                            <li>{{ application_method.application_method }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% else %}
                    {% endif %}
                </div>

                <div class="all_characteristic_cont">
                    <h2>Уся Характеристика</h2>
                    <div class="all_characteristic">
                        <span>Бренд:</span>
                        <h2>{% if product.brand %} {{ product.brand }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Країна-виробник:</span>
                        <h2>{% if product.make_county %} {{ product.make_county }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Тип:</span>
                        <h2>{% if product.kind %} {{ product.kind }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Стать:</span>
                        <h2>{% if product.sex %} {{ product.sex }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Призначення:</span>
                        <h2>{% if product.appointment %} {{ product.appointment }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Об'єм/шт:</span>
                        <h2>{% if product.pieces_volume %} {{ product.pieces_volume }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Вікова категорія:</span>
                        <h2>{% if product.age_category %} {{ product.age_category }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div id="reviews"></div>
                    <div class="all_characteristic">
                        <span>Клас:</span>
                        <h2>{% if product.clas %} {{ product.clas }} {% else %} ———— {% endif %}</h2>
                    </div>
                    <div class="all_characteristic">
                        <span>Колір:</span>
                        <h2>{% if product.color %} {{ product.color }} {% else %} ———— {% endif %}</h2>
                    </div>
                </div>
            </div>


            <div class="block_reviews_control" >
                <h2>{% if length_comments %}Відгуки({{ length_comments }}){% else %}Відгуки (0){% endif %}</h2>
                <div class="reviews_star_control">
                    <i class="fas fa-star second_star"></i>
                    <i class="fas fa-star second_star"></i>
                    <i class="fas fa-star second_star"></i>
                    <i class="fas fa-star second_star"></i>
                    <i class="fas fa-star second_star"></i>
                    <span>0</span>
                </div>
                <div class="comments_control">
                    {% if comments_product %}
                    {% for comment_product in comments_product%}
                    <div class="comment_content">
                        <div class="n_d_cont">
                            <h2>{{ comment_product.name }}</h2>
                            <span>{{ comment_product.formatted_date_comment }}</span>
                        </div>
                        <div data-rating_star="{{ comment_product.rating_product }}" class="client_comment_star_control">
                            <i class="fas fa-star client_star"></i>
                            <i class="fas fa-star client_star"></i>
                            <i class="fas fa-star client_star"></i>
                            <i class="fas fa-star client_star"></i>
                            <i class="fas fa-star client_star"></i>
                        </div>
                        <div class="comment">
                            <p>{{ comment_product.comment }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}

                    {% endif %}
                </div>
                <div class="control_reviews_btn">
                    <a class="reviews_btn" onclick="OpenModal(this)">Залишити відгук</a>
                </div>
            </div>
        </div>
        <div class="product_detail__order_info">
            <div class="product_price">
                {% if product.available > 0 %}
                <span class="is_available_green">В наявності</span>
                {% else %}
                <span class="is_available_red">Немамє в наявності</span>
                {% endif %}
                {% if product.action %}
                <div class="product_action_cont">
                    <span class="span_prod_old_price">{{ product.price }} ₴<span class="span_discount">{{ product.discount }} %</span></span>
                    <h2>{{ product.discount_price }} <span>₴</span></h2>
                </div>
                {% else %}
                <h2>{{ product.price }} <span>₴</span></h2>
                {% endif %}
            </div>
            <div class="product_order_btn_control">
                <a data-product="{{ product.id }}" class="product_order_btn">До Кошика</a>
            </div>
        </div>
    </div>
</div>
{% endif %}


{% include 'components/modal_reviews.html' %}
{% include 'components/modal_thanks_for_comment_and_rating.html' %}

<!--===========================================================-->
<!--FOOTER-->
{% include 'components/footer.html' %}
<!--===========================================================-->
<!--=======================================================-->
<!--MOBILE LOWER MENU-->
{% include 'components/mobile_lower_menu.html' %}
<!--=======================================================-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>-->
<!--<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/GetCSRFToken.js' %}"></script>
<script src="{% static 'js/SmoothScroling.js' %}"></script>
<script src="{% static 'js/modal_reviews.js' %}"></script>
<script src="{% static 'js/messages.js' %}"></script>
<script src="{% static 'js/RegLog.js' %}"></script>
<script src="{% static 'js/mask_number.js' %}"></script>
<script src="{% static 'js/formatPhoneInput.js' %}"></script>
<script src="{% static 'js/footer.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
<script src="{% static 'js/prod_det_slider_imgs.js' %}"></script>
<script src="{% static 'js/slick-slider.js' %}"></script>
<script src="{% static 'js/slick/slick.min.js' %}"></script>
<script src="{% static 'js/search.js' %}"></script>
<!--<script src="../static/js/paginator.js"></script>-->
<!--<script src="../static/js/sub_cat_paginations.js"></script>-->
</body>
</html>