<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,1,-25" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/thanks_for_buy.css' %}">
    <title>Thanks For Buy</title>
    <link>
</head>
<body>

<div class="logo_info_cont">
    <img src="{% static 'images/Eva_logo.svg-removebg-preview.png' %}" alt="logo">
    <div class="contact_info">
        <span>Служба підтримки: </span>
        <a href="tel:0 800 65 77 43"><img src="{% static 'images/call.png' %}"> 0 800 65 77 43</a>
    </div>
</div>

<div class="block_thanks_control">
    <div class="thanks_content">
        <div class="icon_check"><img src="{% static 'images/check-rem-bg.png' %}" alt="icon"></div>

        <div class="thanks_text"><h2>Дякуємо за замовлення</h2></div>

        <div class="info_cont"><h3>У разі потреби наша служба підтримки зв'яжеться з вами для уточнення деталей.</h3></div>

        <div class="invoice_content">
            <span class="invoice_span_text">Ваше замовлення: <span class="number_invoice">№ 092312784123871374</span></span>
        </div>
        <a href="{% url 'home' %}" class="home_btn">Головна</a>
    </div>

</div>


<div class="minimal_footer">
        <h2>© Інтернет-магазин WHITE COLLAR 2024</h2>
</div>
</body>
</html>