
.minimal_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #3a3a3a;
}

.minimal_footer h2 {
    font-size: 15px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: #b2b2b2;
}

@media screen and (max-width: 1024px) {
    .minimal_footer h2 {
        font-size: 13px;
    }
}