
.minimal_footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #3a3a3a;
}

.minimal_footer h2 {
    font-size: 15px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    color: #b2b2b2;
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
    .minimal_footer h2 {
        font-size: 13px;
    }
    .minimal_footer {
        margin-bottom: 515px;
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .minimal_footer h2 {
        font-size: 13px;
    }
    .minimal_footer {
        margin-bottom: 1px;
    }
}

@media screen and (max-width: 853px) {
    .minimal_footer {
        margin-bottom: 428px;
    }
}
@media screen and (max-width: 820px) {
    .minimal_footer {
        margin-bottom: 328px;
    }
}
@media screen and (max-width: 768px) {
    .minimal_footer {
        margin-bottom: 174px;
    }
}

@media screen and (max-width: 540px) {
    .minimal_footer {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 430px) {
    .minimal_footer {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 414px) {
    .minimal_footer {
        margin-bottom: 44px;
    }

}


@media screen and (max-width: 412px){
    .minimal_footer {
        margin-bottom: 63px;
    }

}

@media screen and (max-width: 390px) {
    .minimal_footer {
        margin-bottom: 0;
    }
}