
.mobile_category_control {
    position: fixed;
    top: 0;
    left: -100%;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1px;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #e6efef;
    transition: 0.4s ease-in-out;
    z-index: 102;
    overflow-x: hidden;
}
.out {
    left: 0;
}

.cat_title {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #FFFFFF;
}
.cat_title .step_title {
    font-family: "Nunito", "sans-serif";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.cat_title .cat_close {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.main_cat_back_cont {
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    background-color: #FFFFFF;
}

.all_catalog {
    font-family: "Nunito", "sans-serif";
    font-size: 15px;
    font-weight: 600;
    color: #50c6cb;
    cursor: pointer;
    opacity: 0;
    transition: padding 0.2s, opacity 0.4s ease-in-out;
}

.mobile_category_block {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mobile_category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    transition: 0.4s ease-in-out;
}


.cat_cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.mob_cat_content {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 15px;
    background-color: #FFFFFF;
}
.mob_cat_content h2 {
    font-family: "Nunito", "sans-serif";
    font-size: 15px;
    font-weight: 700;
    color: #05676e;
}
.mob_cat_content img {
    width: 20px;
    height: 20px;
}
.arr_icon {
    color: #05676e;
}
.arr_icon_back {
    color: #05676e;
    font-size: 16px;
}

.mobile_subcategory {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    display: flex;
    gap: 2px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.sub_out {
    left: 0;
    width: 100%;
}

.mob_sub_content {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    transition: 0.4s ease-in-out;
    background-color: #FFFFFF;
}

.sub_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.mob_sub_content h2 {
    font-family: "Nunito", "sans-serif";
    font-size: 15px;
    font-weight: 700;
    color: #05676e;
}

.mobile_sub_subcategory {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    display: flex;
    gap: 2px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}
.mob_sub_sub_content {
    width: 100%;
    display: none;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 15px;
    transition: 0.4s ease-in-out;
    background-color: #FFFFFF;
}
.mob_sub_sub_content h2 {
    font-family: "Nunito", "sans-serif";
    font-size: 15px;
    font-weight: 700;
    color: #05676e;
}

.sub_sub_cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.sub_sub_out {
    left: 0;
    width: 100%;
}

.visible {
    width: 100%;
    display: flex;
}

.in {
    left: -100%;
}

@media screen and (max-width: 1280px) {
    .mobile_category_control {
        width: 30%;
    }
}

@media screen and (max-width: 1024px) and (max-height: 1366px) {
    .mobile_category_control {
        width: 35%;
    }
}

@media screen and (max-width: 1024px) and (max-height: 600px) {
    .mobile_category_control {
        width: 35%;
    }
}

@media screen and (max-width: 912px) {
    .mobile_category_control {
        width: 40%;
    }
}

@media screen and (max-width: 853px) {
    .mobile_category_control {
        width: 40%;
    }
}

@media screen and (max-width: 820px) {
    .mobile_category_control {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .mobile_category_control {
        width: 40%;
    }
}

@media screen and (max-width: 540px) {
    .mobile_category_control {
        width: 100%;
    }
}