{% block mobile_header %}
{% load static %}

<div class="mobile_header">
    <div class="mob_lower_head">
        <a class="mob_category_btn" onclick="OpenMobCut()" id="cat_btn">
            <i class="fa-solid fa-layer-group"></i>
        </a>
        {% include 'components/mobile_category.html' %}
        {% include 'components/mobile_search.html' %}
        <a href="{% url 'home' %}" class="mob_logo_cont">
            <div class="logo">
                <img class="mob_l_img" src="../../static/images/logo/WC_logorectangular.png" alt="">
            </div>
        </a>
        {% if user.is_authenticated %}
        <div class="mob_menu_cont">
            <a class="mobile_search_btn" onclick="OpenMobSearch()"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></a>

            <div class="line_menu"></div>

            <a href="#" class="menu" id="mob_profile">
                <img class="img_prof" src="../../static/images/free-icon-profile-3736502.png">
            </a>
            <div class="sub_menu_wrap" id="mob_profile_modal_js">
                <div class="sub_menu">
                    <div class="user_info">
                        <img class="img"
                             src="{% if user.images.url %} {% else %} {% static  'images/free-icon-profile-3736502.png' %} {% endif %}">
                        <h3 class="user_info_name">{{ user.username }}</h3>
                    </div>
                    <hr>
                    <a href="#" class="sub_menu_link">
                        <img class="sub_menu_img" src="../../static/images/free-icon-bonus-8525690.png">
                        <p class="p_text">Бонуси: <span class="bonus_span">0</span></p>
                    </a>
                    <hr>
                    <a href="#" class="sub_menu_link">
                        <img class="sub_menu_img" src="../../static/images/free-icon-user-9630184.png">
                        <p class="p_text">Мій Профіль</p>
                        <span> > </span>
                    </a>
                    <hr>
                    <a href="{% url 'logout' %}" class="sub_menu_link">
                        <img class="sub_menu_img" src="../../static/images/free-icon-sign-out-7168079.png">
                        <p class="p_text">Вийти</p>
                        <span> > </span>
                    </a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="mob_menu_cont">
            <a class="mobile_search_btn" onclick="OpenMobSearch()"><i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i></a>
            <div class="line_menu"></div>
            <a class="menu exit" id="res_log_modal_btn_mob"><i class="fa-solid fa-user"></i>Вхід</a>
        </div>
        {% endif %}
    </div>
</div>

<!--================================================================-->
<!--BASKET ICON FOR MOBILE-->
<div class="mob_basket_icon">
    <a href="{% url 'basket_detail' %}" class="menu basket">
        <img class="img_basket" src="../static/images//shopping.svg">
        <span class="number_goods">{{ order.get_cart_item|default:"0" }}</span>
    </a>
</div>
<!--=======================================================-->

{% endblock %}