
{% block modal_timer %}
{% load static %}

<div class="modal_timer_wrapper" id="modal">
    <div class="modal_timer">
        <h2>Якщо ви ще з нами</h2>
        <h2>Натисніть Так</h2>
        <div id="time">
            <div class="timer_circle" style="--clr: #04fc43;">
                <svg>
                    <circle cx="11.5" cy="11.5" r="11.5" id="ss"></circle>
                </svg>
                <div id="seconds">00</div>
            </div>
        </div>
        <div class="confirmation_btn_cont">
            <button class="confirmation_btn" onclick="ClickConfirmationBtn()">Так</button>
        </div>
        <div id="timer"></div>
    </div>
</div>

<script src="{% static 'js/jquery.idle-master/jquery.idle.js' %}"></script>
<script src="{% static 'js/CheckoutInactiveClientTimer.js' %}"></script>

{% endblock %}