
{% block modal_timer %}
{% load static %}

<!--<div id="myModal" class="modal">-->
<!--  <div class="modal-content">-->
<!--    <p>Ви ще тут?</p>-->
<!--    <div id="timer-circle" class="timer-circle">-->
<!--      <div id="timer-seconds" class="timer-seconds"></div>-->
<!--    </div>-->
<!--    <button id="modal-yesBtn">Так</button>-->
<!--  </div>-->
<!--</div>-->

<div id="myModal" class="modal">
  <div class="modal-content">
      <h2>Якщо ви ще тут натисніть кнопку: Так</h2>
  </div>
    <div class="button_cont">
        <button id="modal-yesBtn">Так</button>
        <div id="timer-circle" class="timer-circle">
            <div id="timer-seconds" class="timer-seconds"></div>
        </div>
    </div>
</div>

{% endblock %}